<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>User Register</h1>
    <!-- use get, send data in the form to "#"  -->
<!--    <form method="post" action="/done/Pregister">-->
    <form method="post" action="combRegister">
        <div> User name
            <input type="text" name="user"/>
        </div>
        <div> password
            <input type="password" name="psw"/>
        </div>

        <div> gender
            <input type="radio" name="gender" value="1"/> male
            <input type="radio" name="gender" value="2"/> female
        </div>
        <div> team
            <input type="checkbox" name="team" value="1"/> A
            <input type="checkbox" name="team" value="2"/> B
            <input type="checkbox" name="team" value="3"/> C
            <input type="checkbox" name="team" value="4"/> D
        </div>

        <div> city
            <select>
                <option>Houston</option>
                <option>Austin</option>
                <option>Dallas</option>
            </select>
        </div>

        <div> comment
            <textarea name="addText"></textarea>
        </div>

        <div>
            <input type="submit", value="register">
        </div>
    </form>

</body>
</html>