<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Birds Table</title>
</head>
<body>
    <h1>Birds </h1>
    <table border="1">
        <thead>
            <tr>
                <td>ID</td>
                <td>Photo</td>
                <td>Name</td>
                <td>More Info</td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td><img src="/static/GreatBlueHeron1.jpg" style="height: 40px; width: 40px"/></td>
                <td>Great Blue Heron</td>
                <td><a href="https://www.allaboutbirds.org/guide/Great_Blue_Heron/overview" target="_blank">more information</a></td>
            </tr>

            <tr>
                <td>1</td>
                <td><img src="/static/laughingGull1.jpg" style="height: 40px; width: 40px"/></td>
                <td>Laughing Gull</td>
                <td><a href="https://www.allaboutbirds.org/guide/Laughing_Gull/overview" target="_blank">more information</a></td>
            </tr>

            <tr>
                <td>1</td>
                <td><img src="/static/MixedTern1.jpg" style="height: 40px; width: 40px"/></td>
                <td>Mixed Tern</td>
                <td><a href="https://www.allaboutbirds.org/guide/Mixed Tern/overview" target="_blank">more information</a></td>
            </tr>
        </tbody>
    </table>

</body>
</html>