<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is the Title</title>
</head>
<body>
    <h1>Info shown</h1>
    <h2>second large</h2>
    <h3>third large</h3>
    <h4>forth large</h4>

    <div>Block-level label, take whole line</div>
    <div>
        <span>Inline label, only take space it need...</span>
        <span>...Inline label, will have space between two span, if span in diff lines</span>
    </div>
    <div>
        <span>Inline label1...</span><span>...Inline label2, no space when same line</span>
    </div>

    <div>
        <!--   if in the same line, why use span instead of div     -->
        <!--    may need diff style-->
        <span style="color: coral">Style 1</span> <span>Style 2</span>
    </div>

    <div>
        <a href="https://news.google.com/home?hl=en-US&gl=US&ceid=US:en">google news</a>
        <a href="/get/news">visit our html file</a>
    </div>

    <div>
        <h2>Birds list</h2>
        <ul>
            <li>Great Blue Heron</li>
            <li>Laughing Gull</li>
            <li>Mixed Tern</li>
        </ul>
    </div>

    <div>
        <h2>Another birds list</h2>
        <ol>
            <li>Sandwich Tern</li>
            <li>Royal Tern</li>
            <li>Lesser Black-backed Gull</li>
        </ol>
    </div>

    <div>
        <table border="1">
            <!--  column name -->
            <thead>
                <tr>
                    <th>ID</th>
                    <th>name</th>
                    <th>age</th>
                </tr>
            </thead>
            <!-- table -->
            <tbody>
                <tr>
                    <th>1</th>
                    <th>aaa</th>
                    <th>25</th>
                </tr>

                <tr>
                    <th>2</th>
                    <th>bbb</th>
                    <th>26</th>
                </tr>

                <tr>
                    <th>3</th>
                    <th>ccc</th>
                    <th>30</th>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h1>input</h1>
        <div> text
            <input type="text" />
        </div>
        <div> password
            <input type="password"/>
        </div>
        <div> upload file
            <input type="file"/>
        </div>

        <div> single selection
            <input type="radio" name="n1"/> A
            <input type="radio" name="n1"/> B
        </div>

        <div> multiple selection
            <input type="checkbox"/> A1
            <input type="checkbox"/> A2
            <input type="checkbox"/> A3
            <input type="checkbox"/> B2
            <input type="checkbox"/> B5
        </div>

        <div> button
            <input type="button" value="button">
            <input type="submit" value="submit">
        </div>
    </div>

    <div>
        <h1>select</h1>
        <select>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
        </select>
    </div>

    <div>
        <h1>select</h1>
        <select multiple>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
        </select>
    </div>

    <div>
        <h1>multiple lines text</h1>
        <textarea></textarea>
        <textarea rows="5"></textarea>
    </div>

</body>
</html>